In [ ]:
# imports
import pandas as pd
import numpy as np

In [ ]:
# Load Data
df = pd.read_csv('../data/Superstore_clean.csv')

In [4]:
# ------------------------------------------
#  Overall KPIs
# ------------------------------------------

total_sales = df['Sales'].sum()
total_profit = df['Profit'].sum()
average_order_value = df.groupby('Order ID')['Sales'].sum().mean()
profit_margin = total_profit / total_sales

print(f"Total Sales: {total_sales:.2f}")
print(f"Total Profit: {total_profit:.2f}")
print(f"Average Order Value: {average_order_value:.2f} ")
print(f"Overall Profit Margin: {profit_margin:.2%}")

Total Sales: 2297200.86
Total Profit: 286397.02
Average Order Value: 458.61
Overall Profit Margin: 12.47%

In [5]:
# ------------------------------------------
#  Top 10 Customers by Profit
# ------------------------------------------

top_customers = df.groupby('Customer Name')[['Sales', 'Profit']].sum().sort_values(by= 'Profit', ascending=False).head(10)

display(top_customers)

                          Sales     Profit
Customer Name
Tamara Chand          19052.218  8981.3239
Raymond Buch          15117.339  6976.0959
Sanjit Chand          14142.334  5757.4119
Hunter Lopez          12873.298  5622.4292
Adrian Barton         14473.571  5444.8055
Tom Ashbrook          14595.620  4703.7883
Christopher Martinez   8954.020  3899.8904
Keith Dawkins          8181.256  3038.6254
Andy Reiter            6608.448  2884.6208
Daniel Raglin          8350.868  2869.0760

In [7]:
# ------------------------------------------
#  Profitability by Category
# ------------------------------------------

cat_kpis = df.groupby('Category')[['Sales', 'Profit']].sum()
cat_kpis['Profit Margin'] = cat_kpis['Profit'] / cat_kpis['Sales']

display(cat_kpis.sort_values(by='Profit Margin', ascending=False))

                       Sales       Profit  Profit Margin
Category
Technology       836154.0330  145454.9481       0.173957
Office Supplies  719047.0320  122490.8008       0.170352
Furniture        741999.7953   18451.2728       0.024867

In [8]:
# ------------------------------------------
#  Segment Performance
# ------------------------------------------

segment_kpis = df.groupby('Segment')[['Sales', 'Profit']].sum()
segment_kpis['Profit Margin'] = segment_kpis['Profit'] / segment_kpis['Sales']

display(segment_kpis)

                    Sales       Profit  Profit Margin
Segment
Consumer     1.161401e+06  134119.2092       0.115481
Corporate    7.061464e+05   91979.1340       0.130255
Home Office  4.296531e+05   60298.6785       0.140343

In [ ]:
# ------------------------------------------
#  Regional Performance
# ------------------------------------------

region_kpis = df.groupby('Region')[['Sales', 'Profit']].sum()
region_kpis['Profit Margin'] = region_kpis['Profit'] / region_kpis['Sales']

display(region_kpis.sort_values(by='Profit', ascending=False))

               Sales       Profit  Profit Margin
Region
West     725457.8245  108418.4489       0.149448
East     678781.2400   91522.7800       0.134834
South    391721.9050   46749.4303       0.119343
Central  501239.8908   39706.3625       0.079216

In [11]:
# ------------------------------------------
#  Shipping Performance
# ------------------------------------------

ship_kpis = df.groupby('Ship Mode')[['Sales', 'Profit']].sum()
ship_kpis['Profit Margin'] = ship_kpis['Profit'] / ship_kpis['Sales']

display(ship_kpis)

                       Sales       Profit  Profit Margin
Ship Mode
First Class     3.514284e+05   48969.8399       0.139345
Same Day        1.283631e+05   15891.7589       0.123803
Second Class    4.591936e+05   57446.6354       0.125103
Standard Class  1.358216e+06  164088.7875       0.120812

In [12]:
# ------------------------------------------
#  Product Performance
# ------------------------------------------

product_kpis = df.groupby('Product Name')[['Sales', 'Profit']].sum()
product_kpis['Profit Margin'] = product_kpis['Profit'] / product_kpis['Sales']
top_products = product_kpis.sort_values(by='Profit', ascending=False).head(10)

display(top_products)

,Sales,Profit,Profit Margin
Product Name,,,
Canon imageCLASS 2200 Advanced Copier,61599.824,25199.9280,0.409091
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind,27453.384,7753.0390,0.282407
Hewlett Packard LaserJet 3310 Copier,18839.686,6983.8836,0.370701
Canon PC1060 Personal Laser Copier,11619.834,4570.9347,0.393373
"HP Designjet T520 Inkjet Large Format Printer - 24"" Color",18374.895,4094.9766,0.222857
Ativa V4110MDD Micro-Cut Shredder,7699.890,3772.9461,0.490000
"3D Systems Cube Printer, 2nd Generation, Magenta",14299.890,3717.9714,0.260000
Plantronics Savi W720 Multi-Device Wireless Headset System,9367.290,3696.2820,0.394595
Ibico EPK-21 Electric Binding System,15875.916,3345.2823,0.210714
Zebra ZM400 Thermal Label Printer,6965.700,3343.5360,0.480000